    {% extends "network/layout.html" %}

{% block body %}
    <div id="profile">
    </div>

    <form id="create-post">
        {% if user.is_authenticated %}
        <div id="create-post-wrapper">
            
            <div id="textarea-wrapper">
                <textarea id="post-textarea" class="form-control" placeholder="What's going on?"></textarea>
            </div>
            
            <input id="post-button" type="image" src="../../static/network/send.svg" alt="submit" height="50px">
            
            <footer id="post-error-box"></footer>
            
        </div>
        {% endif %}
    </form>

    
    <div id="posts">
    </div>
    
    <nav id="pagination">
    </nav>
{% endblock %}